
	body {background-color: #282828;}
	div {margin-left: 60px;  margin-top:40px;
		background: url(https://pngimg.com/uploads/vinyl/vinyl_PNG102.png);
		background-size: 40px 40px;
		background-repeat: no-repeat;
		background-position:100px 0px;
		}
	
	/*body {background-color: powderblue;}*/
	h1 {color: #f00000;
			padding-left: 5px;
				word-spacing:25px;}
	h2 {color: #f00000;
			padding-left: 50px;}
	label {color: #e6e6e6; padding-left:8px;}
	input {background-color: #e0e0e0;
			margin: 8px;
			border-radius: 5px;
			padding-top:3px;
			padding-bottom:3px;
			width: 200px;
			box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
			}
	/*input#reg { background-color : #f00000;
				color: #e0e0e0;
				border-radius: 5px; 
				margin-left:5px;
				width: 75px;}*/
				
	input#reg {
  background-color: #f00000; /* Green */
  border: none;
  color: white;
  padding: 8px 10px;
  width: 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

select {
background-color:#e0e0e0;
border-radius: 5px 5px 5px 5px;
padding:4px;
margin-left:12px;
font-family: "Times New Roman";
font-size:14px;
}

input[type="date"] {
background-color:#e0e0e0;
border-radius: 5px 5px 5px 5px;
padding:4px;
font-family: "Times New Roman";
font-size:14px;
}
